.DS_Store
*.framework
*.framework.dSYM

!Generated/
Generated/*
!Generated/SwaggerClient/
Generated/SwaggerClient/*
!Generated/SwaggerClient/Classes
Generated/SwaggerClient/Classes/*
!Generated/SwaggerClient/Classes/Swaggers/

Carthage/Checkouts
Carthage/Build
Cartfile.resolved

xcuserdata/
*.dSYM

*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcworkspacedata

build/
DerivedData/
